<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Mongoose Scraper </a>
    <span class="navbar-text">
      <button class="btn btn-primary">Scrape</button>
    </span>
  </nav>
</div>
<div class="container">
  {{#each articles}}
    <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.summary}}</p>
        <a href="/articles/{{this.id}}" class="btn btn-primary">View</a>
      </div>
    </div>
  {{/each}}
</div>
